.prettierignore
.docusaurus/
dist/
node_modules/*
dist/*
.nx/cache/*
deploy/charts/*
/.nx/workspace-data
.next/*

# Generated code
packages/armory-sdk/src/http/client
packages/armory-sdk/src/lib/http/client
packages/policy-engine-shared/src/tsmsdkv2
